.div-main{
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.card{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.card:hover img{
    transform: scale(1.1);
    transition: ease 2s;
}