:root{
    --primaryColor : #FEBB01;
    --secondaryColor : #FFD238;
    --accent : #D3782F;
}


.margin{
    margin-top: 95px;
}

.navbar{
    border-bottom: 1px solid gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;

}

.color-primary{
    background-color: var(--secondaryColor);
    color: white;
}

button:active, button:focus, a:active, a:focus{
    background-color: var(--primaryColor) !important;
    box-shadow: none;
}

.btn_cancel{
    box-shadow: none;
    border: 0;
    background-color: #ffd54f ;
}

.btn_cancel:hover{
    box-shadow: 0 0 10px black;
    background-color: #ff9800;
}

.btn_cancel:focus{
    box-shadow: none;
}


.btn_save{
    box-shadow: none;
    border: 0;
    background-color: #ffb74d;
}

.btn_save:hover{
    box-shadow: 0 0 10px black;
    background-color: #ff9800;
}

.btn_save:focus{
    box-shadow: none;
}

.title{
    font-size: 1.8em;
    font-family: "Open Sans", sans-serif;
    border-bottom: 5px solid var(--primaryColor);
}


@media screen and (min-width: 992px) {

    .navbar{
        padding: 10px 90px;
        border-bottom: 1px solid gray;
        font-size: 1.1em;
    }

}
