:root{
    --primaryColor : #FEBB01;
    --secondaryColor : #FFD238;
    --accent : #D3782F;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;

}

a{
    text-decoration: none;
}
small{
    margin: 0;
    padding: 0;
}

.alert{
    margin-bottom: 0;
}

label{
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

.link-nav:hover{
    color: var(--primaryColor) !important;
}

.btn-color{
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    color: #fff;
    cursor: pointer;
}

.btn-color:hover{
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    cursor: pointer !important;
}

.divider{
    display: block;
    height: 1px;
    width: 100%;
    background-color: hsl(10,10%,70%);
}

.alert{
    padding: 5px ;
    font-size: 0.8em;
}

.btn:active, .btn-color:active{
    border-color: var(--primaryColor) !important;
}

.border-link-init{
    border-radius: 5px 5px 0 0 !important;
}

.border-link-end{
    border-radius: 0 0 5px 5px !important;
}

.nav-pills{

}

.nav-pills a.active{
    background-color: var(--primaryColor) !important;
    box-shadow: 0 0 3px hsl(0,50%,10%);
}

.nav-pills a{
    background-color: var(--secondaryColor);
    color: #fff;
}

.sub-title{
    font-size: 0.9em;
}

.btn{
    font-size: 0.9em;
}

.btn:focus{
    background-color: var(--primaryColor) !important;
    color: white;
}

#inputPass{
    border-radius: 5px 0  0 5px ;
}

#btn_view_pass{
    border-radius: 0 5px 5px 0;
    background-color: #6c757d;
    box-shadow: none;
    border: 0;
}

#btn_view_pass:focus{
    border-radius: 0 5px 5px 0;
    background-color: hsl(0,0%,70%) !important;
    box-shadow: none;
    border: 0;
}

@media screen and (min-width: 992px) {

    .navbar{
        padding: 10px 90px;
        border-bottom: 1px solid gray;
        font-size: 1.1em;
    }

}
