:root{
    --primaryColor : #FEBB01;
    --secondaryColor : #FFD238;
    --accent : #D3782F;
}


.margin{
    margin-top: 95px;
}

.navbar{
    border-bottom: 1px solid gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;

}

.color-primary{
    background-color: var(--secondaryColor);
    color: white;
}

button:active, button:focus{
    background-color: var(--primaryColor) !important;
    box-shadow: none;
}

.btn_save{
    box-shadow: none;
    border: 0;
    background-color: var(--secondaryColor);
}

.btn_save:hover{
    background-color: var(--primaryColor);
}

.btn_save:focus{
    box-shadow: none;
}

.title{
    font-size: 1.3em;
    font-family: "Open Sans", sans-serif;
    background-color: var(--secondaryColor);
    color: white;
    border-radius: 10px;
    padding: 5px 0;
}


@media screen and (min-width: 992px) {

    .navbar{
        padding: 10px 90px;
        border-bottom: 1px solid gray;
        font-size: 1.1em;
    }

}
