:root{
    --primaryColor : #FFC107;
    --primaryColorDark :#FFB300;
    --primaryColorlight : #FFE082;
    --colorAccent : #FFAB00;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family :  "Open Sans",sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    background: #fff;
}

button:hover{
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.navbar-border-botton{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navbar-toggler-icon{
    color: white;
}

.navbar-on-top{
    padding:20px;
    transition: 1s;
}

.navbar-on-down{
    padding: 10px 20px;
    overflow: hidden;
    transition-duration: 1s;
}

.nav-link{
    color: white;
    font-size: 1.15em;
    text-shadow: 0 0 0 black;
}

.nav-link:hover{
    color: rgba(0,0,0,0.2);
}

.imgText{
    min-height: 100vh;
    margin: 0;
    background: rgba(0,0,0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgText--small{
    min-height: 50vh;
    margin: 0;
    background: rgba(0,0,0, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgPrimaryText{
    color: #fff;
    font-size: 2.4em;
}

.imgPrimaryText--small{
    color: #fff;
    font-size: 1.3em;
}

.imgText--small button{
    padding: 5px 25px;
}

.imgSecondaryText{
    color: rgba(255,255,255,0.8);
    font-size: 1em;
}

.image-principal{
    background: url(../img/cheese-min.jpg) fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.image-principal--small{
    background: url(../img/cheese-min.jpg) fixed;
    background-size: cover;
    height: 50%;
    margin: 0;
    padding: 0;
}


.links-color-dark{
    color: rgba(0,0,0,0.1);
}

.links-color-white{
    color: #fff;
}


.navbar-nav__btn:hover{
    background-color: #fff;
    color: #fff;
}

.button-primary{
    background-color: var(--primaryColor);
    cursor: pointer;
    color: #fff;
}

.button-primary:hover{
    background-color: var(--primaryColorDark);
    color: #fff;
    transition: 0.3s;
}

.footer{
    color: #7C7C7C;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}

.card:hover{
    box-shadow: 0 0 15px var(--primaryColorDark);
    cursor: pointer;
    text-decoration: none;
}

.bg-color-light{
    background-color: var(--primaryColor);
    color: white;
}

.us-title{
    font-size: 30px;
    color: #666;
}

.us-description{
    font-size: 15px;
    color: #666;
}

.contact{
    background-color: whitesmoke;
}

.information{
    background-color: ghostwhite;
    color: #666;
}

.information__first{
    font-size: 30px;
    font-weight: normal;
}

.information__second{
    font-size: 20px;
    font-weight: normal;
}

.btn-color{
    background-color: var(--colorAccent);
    color: white;
}

